// fonts
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600);

@font-face {
    font-family: diploma;
    src: url(../assets/fonts/diploma.ttf);
}

// Mixins

@mixin box-shadow($top, $left, $blur, $color){
	-webkit-box-shadow: $top $left $blur $color;
	-moz-box-shadow: $top $left $blur $color;
	box-shadow: $top $left $blur $color;
}