doctype html

html(lang='en')

	head
		meta(charset='utf-8')
		meta(name='description', content='Jay Dee, was an American record producer and rapper who emerged from the mid-1990s underground hip hop scene in Detroit')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		meta(name='autor', content='Mario Iglesias - @marioip')

		title J Dilla

		link(rel='stylesheet', href='css/main.css')

	body

		header#header
			div.container
				div.row
					div.h-texts.col-12
						h1 J Dilla
						h3 James Dewitt Yancey
						time(datetime='1974-02-07') February 7, 1974 - 
						time(datetime='2006-02-10') February 10, 2006

		main#main
			div.container
					div.col-12
						article
							p <strong>James Dewitt Yancey</strong>, better known by the stage names J Dilla and Jay Dee, was an American record producer who emerged from the mid-1990s underground hip-hop scene in Detroit, Michigan. According to his obituary at <a href="http://NPR.org" alt="NPR.org" title="NPR.org">NPR.org</a>, he 'was one of the music industry's <strong>most influential hip-hop artists</strong>, working for big-name acts including A Tribe Called Quest, De La Soul, Busta Rhymes, The Pharcyde and Common.' Yancey died in 2006 of the blood disease Thrombotic thrombocytopenic purpura.
							div.wiki
								a(class="btn" alt='J Dilla on Wikipedia' name='J Dilla on Wikipedia' href='https://en.wikipedia.org/wiki/J_Dilla' target='_blank') J Dilla on Wikipedia
			div.row
				div.video
					video#videoclip(loop="loop" controls)
						source(src="assets/videos/JDilla_LastDonutOfTheNight.mp4" type="video/mp4")
						source(src="assets/videos/JDilla_LastDonutOfTheNight.ogg" type="video/ogg")
						Your browser does not support the video tag.
			
			div.container.mentions
					div.m-item.small-4
						figure
							img(src='assets/images/questlove_big.jpg')
							figcaption Questlove
						p "If you were to secretly ask the most praised hip-hop producers, if given a top three, who they fear the most, Dilla’s name would chart on everyone’s list, hands down."
					div.m-item.small-4
						figure
							img(src='assets/images/peterock_big.jpg')
							figcaption Pete Rock
						p "He was one of the greatest, man. He was the greatest to ever do it, for the new cats. And for his mother to tell me that I was his favorite producer – I was like ‘Wow, that’s dope, man."
					div.m-item.small-4
						figure
							img(src='assets/images/blackthought_big.jpg')
							figcaption Black Thought
						p "I can't begin to explain the influence his mind and ear has had on my band, myself, and the careers of so many other artists. The most humble, modest, worthy and gifted beatmaker I've known..."

		footer
			div.row
				p This is a web page about J Dilla

		script(type="text/javascript", src="js/main.js")